@model IEnumerable<AllViewModel>

@{
    ViewBag.Title = "All Requests";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h4 class="card-title mt-1">Role: @e.Role</h4>
                <h4 class="card-title mt-1">@e.RequesterName</h4>
                <h5 class="card-title mt-1">@e.Message</h5>
            </div>

            <a asp-controller="Request" asp-action="Accept" asp-route-id="@e.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Accept</a>
            <a asp-controller="Request" asp-action="Deny" asp-route-id="@e.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Deny</a>
        </div>
    }
</div>
