@model IEnumerable<AllViewModel>

@{
    ViewBag.Title = "All Requests";
}

<h1 class="display-1 fw-bold ">All Requests</h1>

<div class="container-fluid bg-transparent my-4 p-3">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-5 g-3 text-center d-flex flex-wrap justify-content-center">
        @foreach (var request in Model)
        {
            <div id="card" class="col">
                <div class="rounded-10 bg-auth card h-100 shadow-sm">
                    <div class="card-body mx-3 d-flex justify-content-between flex-column">
                        <div>
                            <div class="d-block my-2 text-white fs-4 fw-normal">Requester: <b>@request.RequesterName</b></div>
                            <hr class="bg-white" />
                            <div class="d-block my-2 text-white fs-4 fw-normal text-start">Role: <b>@request.Role</b></div>
                            <div class="d-block my-2 text-white fs-4 fw-normal text-start">School: <b>@request.School</b></div>
                            @if (request.Role == "Student")
                            {
                                <div class="d-block my-2 text-white fs-4 fw-normal text-start">Class: <b>@request.Class</b></div>
                            }
                            else if (request.Role == "Parent")
                            {
                                <div class="d-block my-2 text-white fs-4 fw-normal text-start">Student class: <b>@request.Class</b></div>
                                <div class="d-block my-2 text-white fs-4 fw-normal text-start">Student: <b>@request.Student</b></div>
                            }
                        </div>
                        <div class="pt-2 d-flex justify-content-around gap-4">
                            <a id="slide" asp-controller="Request" asp-action="Accept" asp-route-id="@request.Id" class="btn btn-primary w-100 mb-2 fw-bold">Accept</a>
                            <a id="slide" asp-controller="Request" asp-action="Deny" asp-route-id="@request.Id" class="btn btn-primary w-100 mb-2 fw-bold">Deny</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
}